/*------------------------------
--- Auteur : Antoine Couprie ---
------------------------------*/

/*-----------
--- START ---
-----------*/

/*----------
--- body ---
----------*/

html, body {
	color: rgb(150,0,0);

	background-color:#ffffff;
	background-position:absolute;
	background-size: cover;

	width: 100%;
	height: 100%;
	margin:0;

	display: list-item;
	list-style-type:none;

	text-decoration:none;
	line-height: 1.5;

	font-weight:bold;
	font-family:"Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;}

a{
	color:#002f2f;}

#htPage{
    position:fixed;
	right:50px;
	bottom:50px;


	border-radius:15px;
	padding:5px;
	border:5px 0 5px 0;

	display:block;
	background-color:rgb(150,0,0);}

.login{
	margin-right: 5px;
	float: right;
}

/*----------------------
--- max-width: 320px ---
----------------------*/

@media screen and (min-width: 320px)
{
	body{
		margin: 0px;
		padding: 0px;
		outline: 0px;
		font-size:70%;
	}

	.body {
	margin:50px 10% 50px 10%;
	background-color:#e1e1e1;
	padding:5px 25px 5px 25px;
	display:block;
	line-height:18px;
	border-radius:15px;}

	.mainSection{
		background-color:#e1e1e1;
		text-align:justify;
		padding:10px 20px 10px 20px;
		display: inline-block;

		line-height:18px;
		border-radius:15px;
		margin:25px 50px 50px 50px;}

	#asideLeft{
		color:#FFFFFF;
		border-radius:15px;
		position: absolute;
		display: inline-block;
		background-color:rgb(150, 0, 0);
		padding:10px 10px 10px 10px;
	}

	#asideRight {
		visibility: hidden;
	}
}

/*----------------------
--- min-width: 580px ---
----------------------*/

@media screen and (min-width: 580px)
{
	.mainSection{
		margin-left:50%;}

	body{
		font-size:80%;
	}

    #asideLeft #me{
		padding:10px;
	}

	#asideLeft{
		position: absolute;
		margin:auto;
		background-color:rgb(150,0,0);
		width: 30%;
		padding:10px 10px 10px 10px;
	}

	#asideRight {
		visibility: hidden;
	}
}

/*----------------------
--- min-width: 768px ---
----------------------*/

@media screen and (min-width: 768px)
{
	body{
		font-size:100%;
	}

	.mainSection{
		display: inline-block;
		margin-left:50px;}

	#asideLeft{
		position: absolute;
		padding:10px;
	}

	#asideRight {
		visibility: visible;
		border-radius:15px;
		position: absolute;
		color:#FFFFFF;
		height:200px;
		background-color:rgb(150,0,0);
		padding:10px;
		text-align:center;
	}
}

.mainSection{
	background-color:#e1e1e1;
	text-align:justify;
	margin:50px 25% 50px 25%;
	padding:10px 20px 10px 20px;
	display: inline-block;
	line-height:18px;
	border-radius:15px;}



/*-----------
--- corps ---
-----------*/

#banner{
	margin:0 25% 0 25%;}

.banniere{
	width:100%;}

.tabulation{
	margin-left:3em
}

.title{
	margin:0 10% 0 10%;
}

h1 {
	color:#FFFFFF;
	background-color:rgb(150,0,0);
	text-align:left;
	padding:15px;
	border-radius:15px;
}

h2 {
	color:#FFFFFF;
	background-color:rgb(150,0,0);
	text-align:right;
	padding:10px;
	border-radius:15px;
}

h3 {
	color:#FFFFFF;
	background-color:rgb(150,0,0);
	text-align:left;
	padding:5px;
	border-radius:15px;
}

h4{
	text-decoration:underline;}

#message{
	padding:50px 100px 50px 250px;
}

iframe{
	padding: 0 0 0 25%;
}

/*-----------------
--- aside droit ---
-----------------*/

#asideRight {
	display: none;
	border-radius:15px;
	color:#FFFFFF;
	height:300px;
	width:26%;
}

/*------------------
--- aside gauche ---
------------------*/

#asideLeft{
	display: none;
	background-color:rgb(150,0,0);
	width: 26%;
	height:350px;
}

#asideLeft #wishlist-example{
	margin:15% 0 0 15%;
}

/*----------------
--- navigateur ---
----------------*/

#onglets li{
	float : left;}

nav {
	padding-top:10px;
	width:100%;
	height:64px;
	background-size:cover;
	z-index: 10;
	list-style:none;}

nav a:hover, a:focus{
	filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -o-filter: brightness(100%);
        -ms-filter: brightness(100%);
	margin:3px 2px 3px 2px;}

nav a
{
	filter: brightness(70%);
		-webkit-filter: brightness(70%);
        -moz-filter: brightness(70%);
        -o-filter: brightness(70%);
        -ms-filter: brightness(70%);

	margin: 5px 2px 5px 2px;

	border-radius:15px;

	border:5px 0 5px 0;
	padding:3px 10px 3px 10px;
	display:block;
	font-weight:bold;
	list-style-type:none;
	text-decoration:none;
	color:rgb(150,0,0);
	background-color:#e1e1e1;}

nav .current {
	filter: brightness(100%);
		-webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -o-filter: brightness(100%);
        -ms-filter: brightness(100%);
	color:#e1e1e1;
	background-color:rgb(150,0,0);
}

#onglets li{
	list-style-type:none;
}

#register {
	width: 500px;
	text-align: initial;
}

#register input {
	width: 100%;
	clear: both;
}
/*---------------------
--- THIS IS THE END ---
---------------------*/
